name: Publish to npm

on:
  release:
    types: [published]

jobs:
  publish:
    name: Publish to npm
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.github/actions/setup-node
        with:
          registry-url: 'https://registry.npmjs.org/'

      - name: Build
        run: npm run build

      - name: Publish
        run: npm publish -w packages/cc-voice-reporter --provenance --access public
